.Footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr); // Definiera kolumnerna
    grid-template-rows: repeat(2, 1fr); // Definiera raderna
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
    // Om du vill styla hela footer-diven
    background-color: lightcoral; // Bakgrundsfärg för Footer
    height: 100px; // Justera efter behov
  }
  
  .div1 {
    grid-area: 1 / 2 / 4 / 4; // Definiera grid-området för div1
    background-color: rgba(98, 37, 37, 0.8); // Exempel på bakgrundsfärg
  }
  
  .div2 {
    grid-area: 1 / 4 / 3 / 6; // Definiera grid-området för div2
    background-color: rgba(255, 255, 255, 0.8); // Exempel på bakgrundsfärg
  }
  
  .div3 {
    grid-area: 1 / 6 / 3 / 8; // Definiera grid-området för div3
    background-color: rgba(88, 9, 85, 0.8); // Exempel på bakgrundsfärg
  }
  