.Footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: lightcoral; 
    font-size: 2vw;
  }
  .div1, .div2, .div3 {
    font-size: 1.5vw;
}
  
  .div1 {
    grid-area: 1 / 2 / 4 / 4; 
    background-color: rgba(98, 37, 37, 0.8);
  }
  
  .div2 {
    grid-area: 1 / 4 / 3 / 6;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .div3 {
    grid-area: 1 / 6 / 3 / 8;
    background-color: rgba(88, 9, 85, 0.8);
  }
  