.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 5rem auto 100rem; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Header {
    grid-area: 1 / 1 / 3 / 9;
    height: 5rem; 
}

.Body {
    grid-area: 3 / 1 / 9 / 9;
}

.Footer {
    grid-area: 9 / 1 / 11 / 9;
    height: 10rem;
}
